<mat-tab-group>
    <mat-tab label="Hospital Documents">
        <app-fileupload [uploadLabel]="'Upload Hospital Documents'" [totalUploadFileSize]="totalDocumentSize"
            (fileSizeEvent)="totalSizeEvent($event)" (fileRemoveSizeEvent)="removeFromTotalSize($event)">
        </app-fileupload>
    </mat-tab>
    <mat-tab label="Professional Documents">
        <app-fileupload [uploadLabel]="'Upload Professional Documents'" [totalUploadFileSize]="totalDocumentSize"
            (fileSizeEvent)="totalSizeEvent($event)">
        </app-fileupload>
    </mat-tab>
    <mat-tab label="Other Documents">
        <app-fileupload [totalUploadFileSize]="totalDocumentSize" (fileSizeEvent)="totalSizeEvent($event)">
        </app-fileupload>
    </mat-tab>
</mat-tab-group>